body{
    margin:0;    
   background-color:#B1D0E0;
   color: #406882;   
}
/*header */
.header{
    background-color: #1A374D;
    color:#B1D0E0;  
    font-size: 1.5rem;
    display: flex; /*Aligns the header horizontally */
    justify-content: space-between; /*Creats space between header and links*/
    align-items: center; /*Aligns the header & links */
    padding:  0rem 18rem;
    flex-wrap: wrap;
   
    
    
}

/*Links */
.nav{
    list-style: none;    
   display: flex;
   padding: 0 3rem;
   
}

.nav a {
    color:#B1D0E0;
    text-decoration: none;
}
.nav li{
    margin-left: 20px;
}


/* SIDE Links */
.alt-nav
{
    margin-top:  -140px;
    background-color: #1A374D;    
    max-width: 270px;
    height: 600px;


}
.nav-side{
    padding: 5rem 3rem 8rem;
    list-style: none;
}

.nav-side a
{
    color:#B1D0E0; 
    font-size: 1.5rem;
    text-decoration: none;
    display:block;
    transition: all 0.3s ease-out;
}

.nav-side li
{    
    margin-bottom: 20px;
}
.nav-side a:hover{
    color: #548CFF;
    text-decoration: underline;
    transform:rotate(6deg);
}





/*Layout */


.chat{
    margin-top: -150px;
    background-color: #6998AB;
    color:#1A374D;
    text-decoration: none;
    padding: 10px;
  
}
.button {
    background-color: #1A374D;
    color: #B1D0E0;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 7px;
    font-size: 1.18;

    display: inline-block;
}

.features{
    background-color: rgb(191, 238, 238); 
    padding: 60px 0 125px; 
    display: flex;
}
.features-inner{
    max-width: 1200px;
    margin: 0 auto; /* to CENTER THE TEXT USE Horizontal Margin*/
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 45px;
    grid-row-gap: 25px;

   /* GRID TEMPLATE COLUMS EXAMPLES 

   1. grid-template-columns: 300px 200px;
   2. grid-template-columns: 33% 33% 33%;
   3. grid-template-columns: 1fr 1fr 1fr;
   4. grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    */ 

}

.featured-item {
    border:#548CFF;
    
}

.featured-item h3
{
   color:#1A374D;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;

    
}

.featured-item p
{
    margin: 0;
    line-height: 1.6;
    color: #1A374D;
}

.footer{
    max-width: 300px;
    margin: 50px auto;
    color: #1A374D;
    font-size: .9rem;

}
.pic{
    max-width: 20rem;
    max-height: 8rem;
}


